<!DOCTYPE html>
<html>
<head>
  <title>Examen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Registro estudiantes', new_user_registration_path %>
<%= link_to 'Registro profesores', new_teacher_registration_path %>
		

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
